body{background-color: rgb(248,230,230);}
h1{color: rgb(201,0,0);}
h1{font face="Verdana"}
h2{color: rgb(0,0,0);}
h3{color: rgb(201,0,0);}
h4{color: rgb(0,0,0);}
h5{color: rgb(0,0,0);}
h6{color: rgb(0,0,0);}